appdata.sqlite3
*.log
.env

suttas.sqlite3
fragments.sqlite3

cli/*.xml
cli/*.xml

# build folders
build/
dist/
target/
cli/target
backend/target
bridges/target
.cache/
compile_commands.json
.qmlls.ini
node_modules/
project_tree.txt
Simsapa-*.AppImage
Simsapa-*.dmg
appimage-tools/
Simsapa.AppDir/

simsapa-legacy/

# Emacs temp files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
.projectile
TAGS

# Vim temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

.vscode/

# MacOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
