@use "sass:color"

$black_90: #1a1a1a
$solarized_light_bg: #FAE6B2
$solarized_light_alt_bg: color.adjust($solarized_light_bg, $lightness: -5%)

$body_text_color: $black_90
$body_bg_color: $solarized_light_bg

$body_text_color_dark: #E0E3E9
$body_bg_color_dark: #23272E

$title_bg_color: #FEF8E8
$title_bg_color_dark: color.adjust($body_bg_color, $lightness: 10%)

$dpd_blue: #00A4CC
$dpd_light_blue: #65DBFF
$dpd_button_blue: #99e7ff

$button_bg: $dpd_button_blue
$button_active: $dpd_blue

$button_primary_bg: color.adjust($solarized_light_bg, $lightness: -10%)
$button_primary_active: $solarized_light_bg

@use "type_crimson_pro"
@use "type_abhaya_libre"
@use "type_source_sans_3"
@use "type_sarabun"
@use "type_hadasim"

// let the background color fill the whole page
html, body
  height: 100%
  color: $body_text_color
  background-color: $solarized_light_bg
  &.dark
    color: $body_text_color_dark
    background-color: $body_bg_color_dark


pre
  font-family: serif
  white-space: pre-wrap

a
  color: black

body.dark a,
body.dark a:link,
body.dark a:visited,
body.dark a:hover,
body.dark a:active,
body.dark #ssp_content #content a,
body.dark #ssp_content #content a:link,
body.dark #ssp_content #content a:visited,
body.dark #ssp_content #content a:hover,
body.dark #ssp_content #content a:active
  color: white !important

.ssp-toolbar
  position: fixed
  top: 1em
  right: 1em
  font-size: 0.7em

.svg-icon
  width: 1em
  height: 1em
  vertical-align: -.125em

.hide
  display: none

.highlight
  padding: 0.2em 0pt
  background: #027f55
  color: white

.scrollto-highlight
  padding: 0.2em 0pt
  background: #027f85
  color: white

.icon
  display: inline-block
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor
  vertical-align: middle

div.btn, span.btn
  display: inline-block
  padding: 0
  margin: 0
  a
    cursor: pointer
    text-decoration: none

.open-button
  font-size: 15px
  .icon
    color: #027f55
    opacity: 0.5

.pull-left
  float: left

.pull-right
  float: right

.bookmark-comment
  border: 1px solid hsl(160, 65%, 35%)
  border-radius: 5px
  background-color: hsl(160, 65%, 60%)

  .bookmark-title
    background-color: hsl(160, 65%, 35%)
    height: 30px
    font-size: 20px

    .btn
      margin: 2.5px 5px
      a
        color: white

  .bookmark-content
    color: $body_text_color
    font-size: 0.8em
    padding: 0.5em

    p
      margin-block-start: 0
      margin-block-end: 0
      padding-top: 0.625em
      &:first-child
        padding-top: 0

    a
      color: #700909

#window-title-bar
  font-size: 18px
  line-height: 1
  width: 100%
  position: fixed
  top: 0
  left: 0
  padding: 0.1em
  background-color: $title_bg_color
  &.dark
    background-color: $title_bg_color_dark

  .flex-container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    align-content: center
    gap: 0.2em

    #left-btn-box,
    #right-btn-box
      flex: 1

    #preview-title-text
      display: inline-block
      color: black
      text-align: center

    .icon
      font-size: 0.8em
      color: black
      padding-top: 0.1em
      margin: 0.1em 0.3em
