// Sarabun - Regular (400)

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: url('http://localhost:8000/assets/fonts/sarabun/Sarabun-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    src: url('http://localhost:8000/assets/fonts/sarabun/Sarabun-Italic.ttf') format('truetype');
}

// Sarabun - Bold (700)

@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: url('http://localhost:8000/assets/fonts/sarabun/Sarabun-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    src: url('http://localhost:8000/assets/fonts/sarabun/Sarabun-BoldItalic.ttf') format('truetype');
}
