// Ezra SIL - Regular only

@font-face {
    font-family: 'Ezra SIL';
    font-style: normal;
    font-weight: 400;
    src: url('http://localhost:8000/assets/fonts/ezra-sil/SILEOT.ttf') format('truetype');
}
