@charset "utf-8"

@use "sass:meta"
@use "sass:color"
@use "base"
@use "suttacentral"
@use "cst4"
@use "dhammatalks_org"
@use "tipitaka_net"

$solarized_light_bg: #FAE6B2

html, body
  font-size: 22px
  line-height: 1.5
  font-family: "Crimson Pro SSP"
  font-weight: 400

#ssp_main
  padding-bottom: 4rem
  font-size: 1rem

body
  padding: 0 1rem
  max-width: 75ex
  margin: 0 auto

p
  margin: 0.8rem 0 0 0

h1, h2, h3, h4, h5, h6
  font-family: "Abhaya Libre SSP"
  font-weight: 800

h1
  font-size: 1.6rem
h2
  font-size: 1.4rem
h3
  font-size: 1.2rem
h4
  font-size: 1.0rem

.transient-messages-wrap
  position: relative
  width: 100%

.transient-messages
  position: absolute
  top: 0
  width: 100%
  padding: 1em 0
  text-align: center

.message
  text-align: center

  .msg-content
    display: inline-block
    padding: 0.25em 0.7em
    margin: 0 auto 0.25em auto
    background-color: color.adjust($solarized-light-bg, $lightness: 10%)
    border-radius: 7px

    @include meta.load-css("button_shadow")

@include meta.load-css("menu")

@include meta.load-css("find")

@include meta.load-css("text_resize")

@include meta.load-css("gretil_post")
