<!-- Footnote Modal -->
<div class="footnote-modal-overlay" id="footnoteModalOverlay">
    <div class="footnote-modal">
        <div class="footnote-modal-header">
            <h3 class="footnote-modal-title" id="footnoteModalTitle">Note 1</h3>
            <button class="footnote-modal-close" id="footnoteModalClose" aria-label="Close">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </button>
        </div>
        <div class="footnote-modal-body" id="footnoteModalBody">
            <p class="footnote-modal-content"></p>
        </div>
    </div>
</div>
