<!doctype html>
<html class="{body_class}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>{css_head}</style>
        <script>
         const API_URL = '{api_url}';
        </script>
        <script>{js_head}</script>
    </head>
    <body class="{body_class}">
        <div id="ssp_main">
            <div class="transient-messages-wrap">
                <div id="transient-messages-top" class="transient-messages">
                </div>
            </div>

            {menu_html}

            {content}
        </div>
        <script>{js_body}</script>

        <script src="{api_url}/assets/js/simsapa.min.js"></script>

        {icons_html}

    </body>
</html>
