<!-- Text Resize Controls -->
<div class="text-resize-container">
    <button class="find-search-button text-resize-button" id="textSizeDecreaseButton" title="Decrease text size">
        <img src="{api_url}/assets/icons/32x32/fa_minus-solid.png" alt="Decrease" class="resize-icon">
    </button>
    <button class="find-search-button text-resize-button" id="textSizeIncreaseButton" title="Increase text size">
        <img src="{api_url}/assets/icons/32x32/fa_plus-solid.png" alt="Increase" class="resize-icon">
    </button>
</div>
